@model Trash_collection.Models.Calender

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Calender</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Days)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Days)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PickUpDay)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PickUpDay)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Bill)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Bill)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RegularPickupActive)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RegularPickupActive)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RegularPickupDayOfWeek)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RegularPickupDayOfWeek)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RegularPickupStartDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RegularPickupStartDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RegularPickupEndDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RegularPickupEndDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RegularPickupPrice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RegularPickupPrice)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
